* {
    box-sizing: border-box;
    outline: none;
}

ul {
  padding: 0;
  margin-top: 30px;
  margin-left: 9%;
  margin-right: 9%;
}

ul li {
  position: relative;
  margin-top: 15px;
  padding: 24px 8px 24px 52px;
  font-size: 18px;
  transition: 0.2s;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  list-style-type: none;
  border-radius: 10px;
  border: 3px;
}

.subtask-ul .subtask-list {
  margin-left: -6%;
  border-bottom: black;
  padding-top: 0;
  padding-bottom: 0;
  border: 2px;
}

li ion-input {
  margin-top: -3px;
}

ul li:nth-child(odd), li:nth-child(odd) ion-input, .subtask-input  {
  background: #c4e4fb;
}

ul li.checked , li.checked ion-input, li.checked input {
  text-decoration: line-through;
}

ul li.checked::before, li.checked::before ion-input, li.checked::before input {
  position: absolute;
  border-color: #fff;
  border-style: solid;
  border-width: 0 2px 2px 0;
  top: 10px;
  left: 16px;
  transform: rotate(45deg);
  height: 15px;
  width: 7px;
}

.close {
  background-color: white;
  position: absolute;
  right: 0;
  top: 0;
  padding: 6px 10px 7px 10px;
  border-radius: 25px;
  border: 0;
  margin-right: 5%;
  margin-top: 26.5px;
}

.subtask-list .close {
  margin-right: 14%;
  margin-top: 4.5px;
}

.close:hover {
  background-color: #f44336;
  color: white;
}

ion-input, .subtask-input  {
  margin: 0;
  border: none;
  border-radius: 0;
  width: 75%;
  padding: 10px;
  float: left;
  font-size: 16px;
}

.subtask-input:disabled {
  color: #748795;
}

form ion-input {
  max-width: 70%;
}

.no-edit {
  margin-left: 40px;
  padding: 9px 14px;
  background-color: #36a5f4;
  color: white;
  border: 0;
  border-radius: 10px;
  cursor: pointer;
}

.edit {
  background-color: #2ada30;
}

.subtask-list .no-edit {
  margin-top: 3px;
}

.no-subtask-edit {
  background-color: white;
  padding: 5px 5px 2px 5px;
  margin: 5px;
  border-radius: 28px;
  position: absolute;
  margin-top: 5px;
  font-size: 16px;
}

.subtask-edit {
  background-color:  #006dbb;
  color: white;
}

.check {
  padding: 3px 3px 0px 3px;
  border: 0;
  margin: 5px;
  border-radius: 28px;
  position: absolute;
  margin-left: -74%;
  background-color: white;
}

.subtask-list .check {
   margin-top: 8px;
 }

.subtask-list .check:hover {
  background-color: #36a5f4;
  color: white;
}

.check.checked {
  background-color: #0176ca;
  color: white;
}

.addSubtask {
  border-radius: 12px;
  background-color: #c4e4fb;
  font-size: 23px;
  color: #36a5f4;
  position: absolute;
  margin-top: 3px;
}

.addSubtask:hover {
  color: #006dbb;
}

mat-paginator {
  justify-content: center;
  display: flex;
}
