<ion-tabs #tabs>
  <app-add></app-add>
    <app-list></app-list>


  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1" (click)="filter(undefined)">
      <ion-icon name="copy-outline"></ion-icon>
      <ion-label>All</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2" (click)="filter(true)">
      <ion-icon name="checkmark-circle-outline"></ion-icon>
      <ion-label>Done</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3" (click)="filter(false)">
      <ion-icon name="sync"></ion-icon>
      <ion-label>In Process</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>